{% extends 'base.html.twig' %}

{% block title %}Edit Project1{% endblock %}

{% block body %}
    <h1>Edit Project1</h1>

    {{ include('project1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_project1_index') }}">back to list</a>

    {{ include('project1/_delete_form.html.twig') }}
{% endblock %}
